lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
/node_modules
/.project
/dist
/coverage
/deployDir

# Eclipse Settings
.project
.README.md.html

# Webstorm Settings
.idea/*
!.idea/inspectionProfiles
!.idea/jsLinters

# Istanbul Output
coverage/

# NPM Dependencies
node_modules/

# certificates
certs/
private/